* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body { margin: 0; }

canvas {
	display: block;
}

form {
	position: absolute;
	right: 1rem;
	top: 1rem;
	display: inline-block;
	width: 300px;
	padding: 1.5rem;
	border-radius: .25rem;
	background-color: rgba(#333, .5);

	input {
		width: 100%;
		margin-bottom: .5rem;
		padding: .25rem;

		&:last-of-type { margin-bottom: 0 }
	}
}
